
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

// $medicar-green-palette: (
//  50: #e8eaf6,
//  100: #c5cae9,
//  200: #9fa8da,
//  300: #7986cb,
//  400: #49B4BB,
//  // ... continues to 900
//  contrast: (
//    50: rgba(black, 0.87),
//    100: rgba(black, 0.87),
//    200: rgba(black, 0.87),
//    300: white,
//    // ... continues to 900
//  )
// );

$medicar-green-palette: (
 50: #FFFFFF,
 100: #A8A8A8,
 200: #9fa8da,
 300: #7986cb,
 400: #49B4BB,
 500: #D9F1F3,
 600: #49B4BB,
 700: #49B4BB,
 800: #49B4BB,
 900: #49B4BB,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: #49B4BB,
   500: #D9F1F3,
   600: #49B4BB,
   700: #49B4BB,
   800: #49B4BB,
   900: #49B4BB
 )
);

$medicar-primary: mat.define-palette($medicar-green-palette, 400);
$medicar-accent: mat.define-palette($medicar-green-palette, 400, 100, 500);

// The warn palette is optional (defaults to red).
$medicar-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$medicar-theme: mat.define-light-theme((
  color: (
    primary: $medicar-primary,
    accent: $medicar-accent,
    warn: $medicar-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($medicar-theme);

